.table thead th {
	font-family: 'Menlo', monospace;
	font-weight: normal;
	font-size: 0.8em;
	color: #999;
	text-transform: uppercase;
}
.table tbody td:first-child {
	max-width: 400px;
}

#branding img {
	position: relative;
	top: -23px;
	width: 150px;
}

.panel-heading {
	height: 80px;
	overflow: auto;
}