<h1><span class="glyphicon glyphicon-eye-open"></span> Administrators <a class="btn btn-primary btn-sm" ng-click="adminModal()">+ Add</a></h1>
<hr>
<div class="row">
	<div class="col-md-8">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Login</th>
						<th>Name</th>
						<th>Email</th>
						<th>Phone No</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="admin in adminList">
						<td>{{ admin.username }}</td>
						<td>{{ admin.fullname }}</td>
						<td>{{ admin.email }}</td>
						<td>{{ admin.phone }}</td>
						<td>
							<div class="text-right">
								<button ng-click="showModal('admin', $index)" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></button>
								<button ng-click="delete($index)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-4">
		<label><small>Acronym Lookup</small></label>
		<div class="form-inline" style="margin-bottom:10px;">
			<div class="form-group" style="width:100%;">
				<input type="text" class="form-control input-sm" placeholder="e.g TEST" ng-model="query" style="width:80%;">
				<input type="submit" class="btn btn-default btn-sm" value="Lookup!" ng-click="lookup(query)">
			</div>
		</div>
		<div ng-show="show">
			<ul class="list-group" ng-repeat="result in lookupResult">
				<li class="list-group-item" ng-repeat="def in result.lfs">
					<h5 class="list-group-item-heading">{{ def.lf }} <small>({{ def.freq }} points)</small></h5>
					<small>Invented: {{ def.since }}</small><br>
				</li>
			</ul>
		</div>
		<div ng-hide="show">
			<div class="alert alert-warning alert-sm">
				...
			</div>
		</div>
	</div>
</div>
</div>