<h1><span class="glyphicon glyphicon-calendar"></span> Events <a class="btn btn-primary btn-sm" ng-click="eventModal()">+ Add New Event</a></h1>
<hr>
<div class="row">
	<div class="col-md-4" ng-repeat="event in eventList">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4><strong class="text-capitalize">{{ event.name }}</strong><br>
				<small class="small text-muted">{{ event.descp }}</small>
				</h4>
			</div>
			<div class="panel-body">
				<p class="small">
					<strong>Venue</strong> &raquo; {{ event.venue }}<br>
					<strong>Date &amp; Time</strong> &raquo; {{ event.day }} @ {{ event.time }}<br>
				</p>
				<button class="btn btn-success btn-xs" ng-click="attendanceModal(event)">Attendance</button>
				<div class="pull-right">
					<button class="btn btn-default btn-xs">Report</button>
					<button class="btn btn-default btn-xs" ng-click="showModal('event', $index)"><span class="glyphicon glyphicon-pencil"></span></button>
					<button class="btn btn-default btn-xs" ng-click="delete($index)"><span class="glyphicon glyphicon-trash"></span></button>
				</div>
			</div>
		</div>
	</div>
</div>