<div class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<!-- Student Form -->
				<h3 ng-if="type == 'student'" style="margin-top:10px" class="text-center">Edit Student ({{ currS.fullname }})</h3>
				<form name="studentForm" ng-if="type == 'student'">
					<div class="form-group">
						<label>Name</label>
						<input type="text" class="form-control" name="fullname" ng-model="currS.fullname" required>
					</div>
					<div class="form-group">
						<label>IC No</label>
						<input type="text" class="form-control" name="ic_no" ng-model="currS.ic" required>
					</div>
					<div class="form-group">
						<label>Matric No</label>
						<input type="text" class="form-control" name="matrix_no" ng-model="currS.matrix_no" required>
					</div>
					<div class="form-group">
						<label>Class</label>
						<input type="text" class="form-control" name="course" ng-model="currS.course" required>
					</div>
					<div class="form-group">
						<label>RFID</label>
						<input type="text" class="form-control" name="serial_no" ng-model="currS.serial_no" required>
					</div>
				</form>

				<!-- Event Form -->
				<h3 ng-if="type == 'event'" style="margin-top:10px" class="text-center">Edit Event ({{ currS.name }})</h3>
				<form name="eventForm" ng-if="type == 'event'">
					<div class="form-group">
						<label>Title</label>
						<input type="text" class="form-control" name="name" ng-model="currS.name" required>
					</div>
					<div class="form-group">
						<label>Description</label>
						<input type="text" class="form-control" name="descp" ng-model="currS.descp" required>
					</div>
					<div class="form-group">
						<label>Venue</label>
						<input type="text" class="form-control" name="venue" ng-model="currS.venue" required>
					</div>
					<div class="form-group dates">
						<label>Date</label>
						<input type="text" class="form-control" name="day" ng-model="currS.day" required placeholder="31/03/2015">
					</div>
					<div class="form-group">
						<label>Time (hh:mm:ss)</label>
						<input class="form-control" name="time" ng-model="currS.time" required placeholder="18:45:00">
					</div>
				</form>

				<!-- Admin Form -->
				<h3 ng-if="type == 'admin'" style="margin-top:10px" class="text-center">Edit Admin ({{ currS.fullname }})</h3>
				<form name="adminForm" ng-if="type == 'admin'">
					<div class="form-group">
						<label>Username</label>
						<input type="text" class="form-control" name="username" ng-model="currS.username" required>
					</div>
					<div class="form-group">
						<label>Full Name</label>
						<input type="text" class="form-control" name="fullname" ng-model="currS.fullname" required>
					</div>
					<div class="form-group">
						<label>Phone No</label>
						<input type="text" class="form-control" name="phone" ng-model="currS.phone" required>
					</div>
					<div class="form-group">
						<label>Email Address</label>
						<input type="text" class="form-control" name="email" ng-model="currS.email" required>
					</div>
					<div class="form-group">
						<label>Password</label>
						<input class="form-control" name="password" ng-model="currS.password" required>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" ng-if="type == 'student'" ng-click="updateStudent(currS)">Update Student</button>
				<button type="button" class="btn btn-success" ng-if="type == 'event'" ng-click="updateEvent(currS)">Update Event</button>
				<button type="button" class="btn btn-success" ng-if="type == 'admin'" ng-click="updateAdmin(currS)">Save Changes</button>
				<button type="button" class="btn btn-default btn-sm" data-dismiss="modal" id="closeModal">Close</button>
			</div>
		</div>
	</div>
</div>