<h1><span class="glyphicon glyphicon-user"></span> Student <a class="btn btn-primary btn-sm" ng-click="studentModal()">+ Add Student</a></h1>
<hr>
<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th>RFID</th>
				<th>Name</th>
				<th>Matric No</th>
				<th>Class</th>
				<th>IC No</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="student in studentList">
				<td>{{ student.serial_no }}</td>
				<td>{{ student.fullname }}</td>
				<td>{{ student.matrix_no }}</td>
				<td>{{ student.course }}</td>
				<td>{{ student.ic }}</td>
				<td>
					<div class="text-right">
						<button ng-click="showModal('student', $index)" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span></button>
						<button ng-click="delete($index)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</div>